<div class="inner">
<form action='/books' method='post'>
    <h2>Add Book Details Below</h2> <br>
    <label class="form-group">
      <input type='text' name='title' id='title' class="form-control" required>
      <span>Title</span>
      <span class="border"></span>
    </label>
    <label class="form-group">
      <input type='text' name='author' id='author' class="form-control"  required>
      <span for="">Author</span>
      <span class="border"></span>
    </label>
    <label class="form-group">
      <input type='text' name='genre' id='genre' class="form-control"  required>
      <span for="">Genre</span>
      <span class="border"></span>
    </label>
    <label class="form-group">
      <span for="list">Select List:</span><br><br>
      <input type="radio" id="Favorite" name="list" value="Favorite" required> 
      <label for=""> Favorite List  </label>

      <input type="radio" id="Reading" name="list" value="Reading" required> 
      <label for=""> Reading List</label>
      
      <input type="radio" id="Worst" name="list" value="Worst" required> 
      <label for=""> Worst List</label>
      <span class="border"></span>
    </label>
    <button type='submit'> Submit
      <i class="zmdi zmdi-arrow-right"></i>
    </button>
  </form> <br>
</div>