<form action='/books' method="post">

  <h4> Create Your Tweet: </h4>
  <input name='title'> <br> <br>
  <input name='author'> <br> <br>
  <input name='genre'> <br> <br>
  <input type="submit" id="submit">
  
</form>