<style>

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    text-align: right;
}

button.create {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 5px solid green;
    margin: auto;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
    background-color: #39459b;
}

button.a {
    display: inline-block; /* the default for span */
    width: 20%;
    height: 300px;
    padding: 5px;
    border: 5px solid green;
    position: absolute;
    top: 20%;
    left: 10%;
    background-color: #39459b;
}

button.b {
    display: inline-block; /* the default for span */
    width: 20%;
    height: 300px;
    padding: 5px;
    border: 5px solid green;
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: #39459b;
}

button.c {
    display: inline-block; /* the default for span */
    width: 20%;
    height: 300px;
    padding: 5px;
    border: 5px solid green;
    position: absolute;
    top: 20%;
    right: 10%;
    background-color: #39459b;
}

</style>

<div class="topright">
    Welcome, <%=@current_user.email%> <br>
    <a href="/logout"> Logout</a>
</div>

<%# <div class="create">
    Click <a href="/books/new"> here</a> to add a new book to one of your lists!
</div> %>

<form action="/books/new">
  <button class='create'> Click here to add a new book to one of your lists! </button>
</form>

<%# <form action="/books/new">
  <button class='create'> <p> Click here to add a new book to one of your lists! </p> </button>
</form> %>

<form action="/readlist">
  <button class='a'> <img src='/images/readlist.png'><p> Read List </p> </button>
</form>

<form action="/toplist">
  <button class='b'> <img src='/images/star.png'> <p> Top List </p> </button>
</form>

<form action="/worstlist">
  <button class='c'> <img src='/images/dislike.png' width=80%><p> Worst List </p> </button>
</form>
