<style>

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    text-align: right;
}

.create {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 5px solid gray;
    margin: auto;
    width: 50%;
    position: fixed;
    top: 10%;
    left: 25%;
}

</style>

<div class="topright">
    Welcome, <%=@current_user.email%> <br>
    <a href="/logout"> Logout</a>
</div>

<div class="create">
    Click <a href="/books/new"> here</a> to add a new book to one of your lists!
</div>

<p> Click <a href="/readlist"> here</a> to see books you've added to your readlist! </p>
<p> Click <a href="/toplist"> here</a> to see your top-rated books! </p>
<p> Click <a href="/worstlist"> here</a> to see your worst-rated books! </p>

