<div class="container">
  <header><img src="images/logo-mrr.png"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to MyReadingRepo!</h2>
    
    <div class="content">
      <h3> Please <a href="/signup"> Sign Up </a> to begin! <h3>
      <h3> Already have an account? <a href="/login">Log In</a> here. </h3>
    </div>

  </div>
</div>
